.App {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  width: 100%;
  padding: 10px;
  background: rgb(251, 174, 35);
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: rgb(251, 174, 35);
}
